<form>
  <div class="form-group">
    <label for="title">Tíulo: </label>
    <input type="text" placeholder="Insira um título" required/>
  </div>
  <div class="form-group">
    <label for="description">Descrição: </label>
    <textarea  placeholder="O que aconteceu nesse momento?" required></textarea>
  </div>
  <div class="form-group">
    <label for="image">Selecione a foto que mais marcou esse momento</label>
    <input type="file" required/>
  </div>
  <input type="submit" value="{{ btText }}">
</form>
